openapi: 3.0.1
info:
  title: Formbricks Action Classes Me API
  description: REST API for Formbricks, the open-source experience management and survey platform. The Management API (paths under /v1/management and /v2/management) requires a personal API key passed in the x-api-key header and gives full access to surveys, responses, contacts, contact attribute keys, action classes, webhooks, and account info. The Public Client API (/v1/client/{environmentId}) is unauthenticated and is used by survey front-ends to create displays and responses.
  termsOfService: https://formbricks.com/terms
  contact:
    name: Formbricks
    url: https://formbricks.com
  license:
    name: AGPL-3.0
    url: https://github.com/formbricks/formbricks/blob/main/LICENSE
  version: '2.0'
servers:
- url: https://app.formbricks.com/api
  description: Formbricks Cloud
tags:
- name: Me
  description: Account and environment information for an API key.
paths:
  /v1/me:
    get:
      operationId: getMe
      tags:
      - Me
      summary: Retrieve account information
      description: Returns the environment and project that the supplied API key belongs to.
      security:
      - apiKeyAuth: []
      responses:
        '200':
          description: Account / environment information for the API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Me'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: The API key is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true
    Me:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          description: The type of object the key is scoped to (e.g. environment).
        environmentId:
          type: string
        projectId:
          type: string
        organizationId:
          type: string
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Personal API key generated in Formbricks under Settings > API Keys.
